<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>External User Registration</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div class="success-container">
		<div class="d-flex justify-content-center align-items-center">
			<img th:src="@{/images/fibiLogo.png}" alt="fibi-logo" width="90px">
		</div>
		<h4 class="mt-4 text-center text-secondary f-20">You have
			registered successfully!</h4>
		<h6 class="text-center text-success">You will receive an email
			with instructions upon the approval from the administrators.</h6>
	</div>
</body>
</html>
